/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* global */
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

body{
    background-image: url(images/Backround.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
.top-header{
    font-family: 'Roboto', sans-serif;
    padding: 0 auto;
    margin: 0 auto;
}


/* header component */
.main-header{
    display: flex;
    justify-content: space-around;
    background-color: #3F72AF;
    color: #F9F7F7;
    padding: 10px;
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.logo-image{
    width: 35px;
}

.logo-container a{
    color: #F9F7F7;
    text-decoration: none;
}

.logo-title:hover {
    color: #DBE2EF;
    transition: 0.1s ease-in-out;
}

.nav-menu ul{
    list-style: none;
    display: flex;
    gap: 10px;
    padding-top: 5px;
    justify-content: center;
    align-items: center;
}
.nav-menu ul a:hover{
    color: #DBE2EF;
    transition: 0.1, ease-in-out;
    border-bottom: 2px solid black;
}

.nav-menu ul a{
    text-decoration: none;
    color: #F9F7F7;
}

.footer{
    background-color: #3F72AF;
    color: #F9F7F7;
    justify-content: space-around;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer ul a{
    list-style: none;
    text-decoration: none;
    color: #F9F7F7;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0 auto;
    margin: 0 auto;
}

.sonic-heroes{
    font-family: 'Roboto', sans-serif;
    padding: 0 auto;
    margin: 0 auto;
}

.image{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cover-image{
    width: 450px;
    padding-left: 30px;
    padding-top: 30px;
}

.description{
    max-width: 300px;
    background-color: #3F72AF;
    color: #DBE2EF;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .main-header{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    }

    .cover-image{
    width: 200px;
    padding-left: 30px;
    padding-top: 30px;
}
}


